# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cs32\react-lab-jcambier\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
